[phases.setup]
nixPkgs = ["cmake", "gcc"]
aptPkgs = ["cmake", "build-essential", "libopenblas-dev", "liblapack-dev", "libx11-dev"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install gunicorn", "pip install -r requirements.txt"]

[start]
cmd = "gunicorn app:app --bind 0.0.0.0:$PORT --workers 2 --timeout 120"
